.group-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 10px;

  @include to-desctop {
    margin: 15px 25px;
  }

  &__decoration {
    display: inline-block;
    width: 70px;
    border: 1px solid $color-grey2;
    flex-grow: 1;

    @include to-desctop {
      margin: 25px 0;
    }
  }

  &__span {
    display: inline-block;
    width: 160px;
    margin: 0 $unix;
    color: $text-color-grey;
    text-align: center;
    font-weight: 500;
    line-height: 1.3;
  }
}
