a:active,
a:hover,
a {
  text-decoration: none;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
}

body {
  height: 100vh;
  font-family: 'Inter', sans-serif;
  font-size: toRems(15);
  color: $text-color-black;
}
