.employees-group {
  margin: 15px auto;
  padding: 0 $unix;
  min-width: $min-width;

  @include to-desctop {
    max-width: $max-width;
  }

  &__list {
    list-style-type: none;
    margin: 0;
  }
}
