$max-width: 1280px;
$min-width: 375px;
$unix: 15px;

$size-icons: 20px;

$border-radius: 15px;

$text-color-black: #050510;
$text-color-grey: #c3c3c6;
$text-color-grey2: #55555c;
$text-color-grey3: #97979b;
$text-color-violet: #6534ff;

$color-grey: #f7f7f8;
$color-grey2: #c3c3c6;
$color-violet: #6534ff;
$color-black: #050510;
$color-white: #ffffff;
